@model BookStore.Domain.Entities.Autor
@{
    ViewData["Title"] = "Dados";
}

<h1>Dados</h1>
<p>Nome autor: @Model.Nome</p>

<ul>
    <li>ViewBag: @ViewBag.Categoria</li>
    <li>ViewData: @ViewData["Autor"]</li>
    <li>TempData: @TempData["Livro"]</li>
</ul>


