@model BookStore.WEB.ViewModels.Livro.LivroViewModel

@{
    ViewData["Title"] = "Novo Livro";
}

<div class="row">
    <h4 class="col-10">Novo Livro</h4>
    <button type="button" class="btn btn-secondary btn-sm mb-1" onclick="location.href='@Url.Action("INDEX", "Livro")'" ; return false;">
        < VOLTAR
    </button>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.CategoriaId)
                @Html.DropDownListFor(x => x.CategoriaId,
               Model.Categorias,
               "Selecione uma categoria",
               new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


